body {
	background-color: rgb(250, 168, 114);
}

h1 {
	text-align: center;
	font-size: 4em;
	color: #e6e6e6;
	font-family: 'Amatic SC', cursive;
}
/* game board table */

#board td {
	width: 60px;
	height: 60px;
	border: solid 1px rgb(75, 75, 75);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/*make into circles */
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 100%;
}

.player1 {
	background-color: blue;
}

.player2 {
	background-color: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px darkgray;
}

#column-top td:hover {
	background-color: gold;
}

#board {
	margin: 0 auto;
	box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.651);
}
